<StackLayout class="page">
    <GridLayout rows="auto" columns="*,*,*">
        <button row="0" col="0" class="btn" textWrap="true" text="Load" (tap)="loadFromFile()"></button>
        <button row="0" col="1" class="btn" textWrap="true" text="Write" (tap)="writeToFile()"></button>
        <button row="0" col="2" class="btn" textWrap="true" text="Delete" (tap)="deleteFile()"></button>
    </GridLayout>
    <TextField class="input m-8" hint="Enter some text" [(ngModel)]="enteredText"></TextField>
    <label row="0" col="0" class="body m-8" text="File content: "></label>
    <GridLayout rows="auto, auto" columns="*" class="file-contents">
        <label row="0" class="body content-label m-b-8" [text]="filePath + ':'" textWrap="true" [visibility]="pathVisibility"></label>
        <label row="1" class="body content-label" [text]="output" textWrap="true"></label>
    </GridLayout>
</StackLayout>