<ActionBar class="action-bar" id="action-bar" title="Local notifications">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem class="action-item" icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
</ActionBar>

<GridLayout class="page" rows="auto,auto,auto,auto,auto,auto,auto,*" columns="*,auto,*">
    <StackLayout orientation="horizontal" row="0" col="1" width="70%" verticalAlignment="center" class="m-t-8">
        <Label text="If using on iOS, be sure to put the app in the background within 5 sec. You won't receive local notifications otherwise." class="label info-label" textWrap="true"></Label>
    </StackLayout>
    <button row="1" col="1" class="btn" text="Send simple notification" (tap)="sendSimpleNotification()"></button>
    <button row="2" col="1" class="btn" text="Send colored notification" (tap)="sendColoredNotification()"></button>
    <button row="3" col="1" class="btn" text="Send grouped notification" (tap)="sendGroupedNotification()" ios.visibility="false"></button>
    <button row="4" col="1" class="btn" text="Send notification with input action" (tap)="sendInputActionNotification()"></button>
    <button row="5" col="1" class="btn" text="Send notification with button action" (tap)="sendButtonActionNotification()"></button>
    <button row="6" col="1" class="btn" text="Send notification with image" (tap)="sendImageNotification()"></button>
</GridLayout>