<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer-center">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="fa sidedrawer-header-image header-icon" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" text="User Name"></Label>
        </StackLayout>

        <ScrollView row="1" class="sidedrawer-content">
            <StackLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/network')"
                    [class.active]="isComponentSelected('/network')" (tap)="onNavItemTap('/network')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf030;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Networking"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/localNotification')"
                    [class.active]="isComponentSelected('/localNotification')" (tap)="onNavItemTap('/localNotification')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf0f3;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Local notifications"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/pushNotification')"
                    [class.active]="isComponentSelected('/pushNotification')" (tap)="onNavItemTap('/pushNotification')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf0f3;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Push notifications"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/files')"
                    [class.active]="isComponentSelected('/files')" (tap)="onNavItemTap('/files')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf15b;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Files"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/cloud')"
                    [class.active]="isComponentSelected('/cloud')" (tap)="onNavItemTap('/cloud')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf030;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Cloud sync"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/camera')"
                    [class.active]="isComponentSelected('/camera')" (tap)="onNavItemTap('/camera')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf030;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Camera"></Label>
                </GridLayout>
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/contacts')"
                    [class.active]="isComponentSelected('/contacts')" (tap)="onNavItemTap('/contacts')">
                    <Label class="sidedrawer-list-item-icon fa" col="0" text="&#xf0c0;"></Label>
                    <Label class="sidedrawer-list-item-text" col="1" text="Contacts & SMS"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>