<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>3587712283-2sjk37du295aa8m8mks1jt6mlq66gbdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3587712283-2sjk37du295aa8m8mks1jt6mlq66gbdu</string>
	<key>API_KEY</key>
	<string>AIzaSyCvgF7ja8JhvDNTCtroaMgqUDXCnFTo7ro</string>
	<key>GCM_SENDER_ID</key>
	<string>3587712283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.SystemDemo130397</string>
	<key>PROJECT_ID</key>
	<string>cross-platform-demo-a5b1c</string>
	<key>STORAGE_BUCKET</key>
	<string>cross-platform-demo-a5b1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3587712283:ios:e13a44ce56e16925</string>
	<key>DATABASE_URL</key>
	<string>https://cross-platform-demo-a5b1c.firebaseio.com</string>
</dict>
</plist>