<GridLayout class="page" rows="*" columns="*">
    <Label class="label body m-8" row="0" col="0" text="NFC Scanning is deactivated due to pricy Apple Developer membership. Follow the instuctions in the code to enable scanning on Android." textWrap="true" #info></Label>
</GridLayout>

<!--For NFC Reading delete above and uncomment below-->

<!--<GridLayout class="page" rows="auto,auto,*" columns="*">
    <GridLayout row="0" col="0" rows="*" columns="*,*">
        <button row="0" col="0" class="btn" textWrap="true" text="Read" (tap)="startReading()"></button>
        <button row="0" col="1" class="btn" textWrap="true" text="Stop" (tap)="stopReading()"></button>
    </GridLayout>
    <label row="1" col="0" class="body m-8" [text]="'Currently scanning: ' + isReading"></label>
    <label row="2" col="0" class="body m-8" [text]="outputText" textWrap="true"></label>
</GridLayout>-->